<div class="messaging-container">
  <div class="sidebar">
    <div class="search-box">
      <input type="text" placeholder="Search..." />
    </div>
    <ul class="contacts">
      <li class="contact active">
        <img
          src="https://muhammad-awab.github.io/socialmediapp/images/feed-image-3.png"
          alt="User 1"
        />
        <span>Awab Ahmad</span>
      </li>
      <li class="contact">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQrKxfjTf49GAtu0PpFXK7mKBgqyJ5MfJCgQw&s"
          alt="User 2"
        />
        <span>Rehan Akhtar</span>
      </li>
    </ul>
  </div>

  <div class="chat-area">
    <div class="chat-header">
      <img
        src="https://muhammad-awab.github.io/socialmediapp/images/feed-image-3.png"
        alt="User 1"
      />
      <span>Awab Ahmad</span>
    </div>
    <div class="chat-messages">
      <div class="message received">
        <p>Hello! How are you?</p>
        <span class="time">10:00 AM</span>
      </div>
      <div class="message sent">
        <p>I'm good, thanks! And you?</p>
        <span class="time">10:02 AM</span>
      </div>
    </div>
    <div class="chat-input">
      <input type="text" placeholder="Type a message..." />
      <button>Send</button>
    </div>
  </div>
</div>
