<section class="main">
  <div class="profile">
    <div class="profile-card">
      <div class="image">
        <img src="{{profilePicture}}" alt="" class="profile-pic" />
      </div>
      <div class="data">
        <h2>{{fullname}}</h2>
        <span>{{profession}}</span>
      </div>
    </div>
    <div class="friends">
      <h3>Friends</h3>
      <ol class="friends-list">
        <li>
          <span class="friend-name">{{friend1}}</span>
          <div class="friend-rating">
            <i class="fas fa-frown rating-icon stupid" title="Stupid"></i>
            <i class="fas fa-smile-beam rating-icon cool" title="Cool"></i>
            <i
              class="fas fa-check-circle rating-icon trustworthy"
              title="Trustworthy"
            ></i>
          </div>
        </li>
        <li>
          <span class="friend-name">{{friend2}}</span>
          <div class="friend-rating">
            <i class="fas fa-frown rating-icon stupid" title="Stupid"></i>
            <i class="fas fa-smile-beam rating-icon cool" title="Cool"></i>
            <i
              class="fas fa-check-circle rating-icon trustworthy"
              title="Trustworthy"
            ></i>
          </div>
        </li>
      </ol>
    </div>
  </div>
</section>
